<!DOCTYPE html>
<html>
    <head>
        <title>Testing the Reddit API with VueJS</title>

        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="js/lib/vue.js"></script>
    </head>
    
    <body>

    <div id="jsonApp">

        <input v-model="path" v-on:keyup.enter="loadCommentChain(path)">
        <button v-on:click="loadCommentChain(path)">GO!</button>
        <span class="error">{{ errorMessage }}</span>

        <ul> 
            <li v-for="line in lines">
                <span class="line-author">{{ line.author }}</span>: <span class="line-text">{{ line.text }}</span>
            </li>
        </ul>

    </div>
    
        <script type="text/javascript" src="js/lib/jquery.min.js"></script>
        <script type="text/javascript">

            function GetTopCommentChain(comments, data) {

                var commentObject = {
                    "author": data.author,
                    "text": data.body
                }

                comments.push(commentObject);


                if (data.replies)
                {
                    var childComments = data.replies.data.children;

                    if (childComments.length > 0)
                    {
                        comments.concat(GetTopCommentChain(comments, childComments[0].data));
                    }
                }

                return comments;
            }


            function getJsonURL(path) {
                var suffix = ".json";
                return path + suffix;
            }

            var jsonApp = new Vue({

                el: "#jsonApp",

                data: {
                    path: "",
                    lines: [],
                    errorMessage: ""
                },
                methods: {
                    loadCommentChain: function(path){
                        var self = this;
                        $.ajax({
                            url: getJsonURL(path),
                            dataType: "json",
                            method: "GET",
                            success: function(data) {
                                self.errorMessage = "";

                                self.lines = GetTopCommentChain(self.lines, data[1].data.children[0].data);

                            },
                            error: function(error) {
                                console.log(JSON.stringify(error));
                                self.errorMessage = "Please enter a valid link.";
                            }
                        });

                    }
                }
            });

        </script>
    
    </body> 
</html>
