<!DOCTYPE html>
<html>
    <head>
        <title>Testing the Reddit API with VueJS</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="js/vue.js"></script>
    </head>
    
    <body>
        <div id="jsonApp" class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">
                        Generate a Manuscript from Reddit
                    </h3>
                        <div v-if="errorMessage" class="alert alert-danger">
                            <strong>Error!</strong> {{ errorMessage }}
                        </div>
                        <div class="form-group">
                             
                            <label for="exampleInputEmail1">
                                Comment URL:
                            </label>
                            <input v-model="path" v-on:keyup.enter="loadCommentChain(path)" class="form-control" id="exampleInputEmail1"/>
                        </div>
                        <button v-on:click="loadCommentChain(path)" class="btn btn-default">
                            GO!
                        </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Line
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="line in lines">
                                <td>
                                    {{ line.author }}
                                </td>
                                <td>
                                    {{ line.text }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript">

            function GetTopCommentChain(comments, data) {

                var commentObject = {
                    "author": data.author,
                    "text": data.body
                }

                comments.push(commentObject);


                if (data.replies)
                {
                    var childComments = data.replies.data.children;

                    if (childComments.length > 0)
                    {
                        comments.concat(GetTopCommentChain(comments, childComments[0].data));
                    }
                }

                return comments;
            }


            function getJsonURL(path) {
                var suffix = ".json";
                return path + suffix;
            }

            var jsonApp = new Vue({

                el: "#jsonApp",

                data: {
                    path: "",
                    lines: [],
                    errorMessage: ""
                },
                methods: {
                    loadCommentChain: function(path){
                        var self = this;
                        $.ajax({
                            url: getJsonURL(path),
                            dataType: "json",
                            method: "GET",
                            success: function(data) {
                                self.errorMessage = "";

                                self.lines = GetTopCommentChain(self.lines, data[1].data.children[0].data);

                            },
                            error: function(error) {
                                console.log(JSON.stringify(error));
                                self.errorMessage = "Please enter a valid link.";
                            }
                        });

                    }
                }
            });

        </script>
    
    </body> 
</html>
