<!DOCTYPE html>
<html>
    <head>
        <title>Testing the Reddit API with VueJS</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="js/vue.js"></script>
    </head>
    
    <body>
        <div id="redditApp" class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">
                        Generate a Manuscript from Reddit
                    </h3>
                    <div v-if="errorMessage" class="alert alert-danger">
                        <strong>Error!</strong> {{ errorMessage }}
                    </div>
                    <div class="form-group">
                         
                        <label for="exampleInputEmail1">
                            Comment URL:
                        </label>
                        <input v-model="path" v-on:keyup.enter="loadCommentChain(path)" class="form-control" id="exampleInputEmail1"/>
                    </div>
                    <button v-on:click="loadCommentChain(path)" class="btn btn-default">
                        GO!
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Line
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="line in lines">
                                <td>
                                    {{ line.author }}
                                </td>
                                <td>
                                    {{ line.text }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/redditApp.js"></script>

    </body> 
</html>
